.btn {
    color: val(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .2s linear, transform .2s linear;
    svg, img {
        min-width: 24px;
        width: 24px;
        height: 24px;
    }

    @media(any-hover: hover) {
        &:hover {
            color: var(--accent);
            transform: scale(1.15);
        }
    }
}