.search {
    position: relative;
    &__btn {
        color: var(--light-grey);
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%) scale(1) !important;

        @media(any-hover: hover) {
            &:hover {
                transform: translateY(-50%) scale(1.15) !important;
            }
        }
    }
    &__clear {
        color: var(--light-grey);
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) scale(1) !important;

        @media(any-hover: hover) {
            &:hover {
                transform: translateY(-50%) scale(1.15) !important;
            }
        }
    }

    &__input {
        padding-left: 45px !important;
        padding-right: 45px !important;

        @media(any-hover: hover) {
            &:hover {
                border-color: var(--accent);
                color: var(--accent);
                & + .search__btn {
                    color: var(--accent);
                }
            }
        }

        &:focus {
            border-color: var(--accent);
            color: var(--accent);
            & + .search__btn {
                color: var(--accent);
            }
        }
    }
}