.cards {
    --card-height: 105px;
    --elems: 4;
    --gap: 20px;
    height: calc(var(--card-height) * var(--elems) + var(--gap) * (var(--elems) - 1) + 1px);
    max-height: calc(var(--card-height) * var(--elems) + var(--gap) * (var(--elems) - 1) + 1px);
    overflow:scroll;
    flex: 1 0 auto;
    scrollbar-color: var(--accent) var(--light-grey);
    scrollbar-width: thin;

    @media(max-width: 767px) {
        --card-height: 90px;
        --elems: 3;
        --gap: 10px;
    }
}