.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    min-width: 170px;
    width: max-content;
    padding: 0 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    background: var(--accent);
    color: var(--light);
    border-radius: 110px;

    transition: transform .2s linear, box-shadow .2s linear;

    @media(any-hover: hover) {
        &:hover {
            transform: scale(1.15);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
        }
    }
}